body {background-color: black;
color: white;}

h1 {color: pink;}
h3 {color: pink;}

hr {border-color: blue; 
border-style: none;
border-top-style: dotted;
border-width: 5px;
width: 2%;}

img {height: 120px;}

#paragraph2 {color: lightcoral; font-size: x-large; font-style: oblique;}